


<div class='row mt44'>
	<div class='large-12 small-12 columns'>
		<div id='siteContent'>
			<div class="row"><div class="large-12 small-12 columns"><div class="page-title mb22"><div class="section-title"><span class="flag"><img class='retina' width='18' height='18' src='http://saharafoxtest.com/wp/wp-content/themes/estatement/images/icons/glyphicons/white/24x24/notes_2.png' alt='Icon'></span><h2>About BuyRochester</h2></div></div></div></div>			<div class='row'>
				<div id='siteMain' class='large-12 small-12 columns'>

					<div class="content"><p>This is an example page to showcase how BuyRochester came about and how it can benefit our local economy.Most people start with an About page that introduces them to potential site visitors. It might say something like this:</p>
<blockquote><p>The XYZ Doohickey Company was founded in 1971, and has been providing quality doohickeys to the public ever since. Located in Gotham City, XYZ employs over 2,000 people and does all kinds of awesome things for the Gotham community.</p></blockquote>
<p>Welcome to BuyRochester!</p>
<p>The median sales price for homes in Rochester MN for Dec 05 to Feb 06 was $275,000 based on 2 home sales. Compared to the same period one year ago, the median home sales price increased 0%, or $275,000, and the number of home sales increased 0%. There are currently 613 resale and new homes in Rochester on Trulia, including 52 open houses, as well as 350 homes in the pre-foreclosure, auction, or bank-owned stages of the foreclosure process. The average listing price for homes for sale in Rochester MN was $256,962 for the week ending Sep 25, which represents a decrease of 1.4%, or $3,777, compared to the prior week. Popular neighborhoods in Rochester include Slatterly Park and Elton Hills, with average listing prices of $106,001 and $126,802.</p>
<p>The median sales price for homes in Rochester MN for Dec 05 to Feb 06 was $275,000 based on 2 home sales. Compared to the same period one year ago, the median home sales price increased 0%, or $275,000, and the number of home sales increased 0%. There are currently 613 resale and new homes in Rochester on Trulia, including 52 open houses, as well as 350 homes in the pre-foreclosure, auction, or bank-owned stages of the foreclosure process. The average listing price for homes for sale in Rochester MN was $256,962 for the week ending Sep 25, which represents a decrease of 1.4%, or $3,777, compared to the prior week. Popular neighborhoods in Rochester include Slatterly Park and Elton Hills, with average listing prices of $106,001 and $126,802.</p>
</div>				</div>
							</div>

		</div>
	</div>
</div>
	<div id='siteFooter'>
		<div class='row'>
						</div>
	</div>

	<div id='footerBar'>
		<div class='row'>
			<div class='small-12 large-12 columns'>
				<div id='footerMenu'>
				<div class="menu-container"><ul class="menu"><li class="menu-item page-item-2 current-menu-item"><a href="http://saharafoxtest.com/wp/?page_id=2">About BuyRochester</a></li><li class="menu-item page-item-8"><a href="http://saharafoxtest.com/wp/?page_id=8">Let&#8217;s Get Commercial</a></li><li class="menu-item page-item-17"><a href="http://saharafoxtest.com/wp/">Map</a></li></ul></div>
				</div>
				<div id='footerText'>
					Powered By <a href="http://www.saharafox.com">SAHARAFOX MARKETING</a>				</div>
			</div>
		</div>
	</div>
<script type='text/javascript' src='http://saharafoxtest.com/wp/wp-content/themes/estatement/javascripts/app.min.js?ver=1386802226'></script>
<script type='text/javascript' src='http://saharafoxtest.com/wp/wp-content/themes/estatement/javascripts/booking-calendar.min.js?ver=1386802226'></script>
