<div class='row mt44'>
	<div class='large-12 small-12 columns'>
		<div id='siteContent'>

			<div class="page-title"><div class="section-title"><span class="flag"><img class='retina' width='18' height='18' src='http://saharafoxtest.com/wp/wp-content/themes/estatement/images/icons/glyphicons/white/24x24/home.png' alt='Icon'></span><h2>Let&#8217;s Get Commercial</h2></div></div>
<%= render "properties/list" %>
</div>
	</div>
</div>

