	<!-- Contact Info -->

				<ul id='headerContact'>							<li id='header_contact_location'>
								<img class='retina' src='<%=asset_path "pin.png"%>' alt='Map pin icon'>
								<span>Rochester, MN USA</span>
							</li>
													<li id='header_contact_phone'>
								<img class='retina' src='<%=asset_path "iphone.png"%>' alt='Smartphone icon'>
								<span><a href="tel:5078846956">(507) 884-6956</a></span>
							</li>
													<li id='header_contact_email'>
								<img class='retina' src='<%=asset_path "envelope.png"%>' alt='Envelope icon'>
								<span>contact@buyrochester.com</span>
							</li>
							
							 
						</ul>
				<!-- End Contact Info -->