	<!-- Contact Info -->

				<ul id='headerContact'>							
				            <li id='header_contact_location'>
								<img class='retina' src='<%=asset_path "pin.png"%>' alt='Map pin icon'>
								<span>Rochester, MN USA</span>
							</li>
													
						    <li id='header_contact_email'>
								<img class='retina' src='<%=asset_path "envelope.png"%>' alt='Envelope icon'>
								<span><a href="mailto:info@buyroch.com">info@buyroch.com</a></span>
							</li>
							
							 
						</ul>
				<!-- End Contact Info -->