<div class="menu-container">

<ul class="menu">

  <%= nav_link 'About BuyRochester', "/home/about" %>

  <%= nav_link "Commercial Properties", "/searches/properties" %>

  <%= nav_link "Unique Spaces", "/searches/unique_spaces" %>


</ul>

</div>