<div class="menu-container">

<ul class="menu">

  <%= nav_link 'About BuyRochester', "/home/about" %>

  <%= nav_link "Let's Get Commercial", "/home/commercial" %>

  <%= nav_link 'Map', root_path %>

</ul>

</div>